/* Variables de colores */
:root {
    --primario: #00B1FF;
    --secundario: #349739;
    --gris: #F4F4F4;
    --negro: #2F2E2E;
    --blanco: #ffffff;
    --grisOscuro: #8A8A8B;
}

/* Estilos a la seccion de paquetes */
.paquetes-container {
    font-family: Arial, sans-serif;

}

.header {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    padding: 10px 20px;
}

.header .logo img {
    height: 90px;
}

.header nav a {
    margin: 0 10px;
    color: var(--negro);
    text-decoration: none;
}
#paquetes{
    border-top: 3px solid var(--primario);
    border-bottom: 3px solid var(--primario);

}

.btn-generar-reporte {
    background-color: var(--primario);
    color: var(--blanco);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    width: auto;
}

.acciones input {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
    max-width: 500px;

}

.acciones {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.btn-registrar {
    background-color: var(--secundario);
    color: var(--blanco);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; 
    width: auto;

}

.paquetes-lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;
    color: var(--gris);
    border-top: 2px solid var(--negro) ;

}
.text-social{ 
    color: var(--grisOscuro);
    margin-bottom: 0px;


}
.social-icon{
    width: 30px;
    height: 30px;
    margin: 10px;
}
.down-footer{
    background-color: var(--primario);
    padding: 5px;
    font-size: 15px;
    color: #000000;
    font-weight: bold;
    border: 2px solid var(--negro) ;

}

/* Estilos a la seccion de PaquetesItem */
.paquete-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--grisOscuro);
    padding: 10px;
    border-radius: 5px;
}

.paquete-imagen {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.paquete-info {
    flex: 1;
    border-bottom: 2px solid var(--negro) ;
}
.paquete-descripcion {
    color: var(--negro);
}

.paquete-meta {
    font-size: 0.9em;
    color: var(--negro);
    & span {
        font-weight: bold;
        font-size: 1em;
        text-decoration: underline;
    }
}

.btn-editar {
    background-color: var(--primario);
    color: var(--blanco);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; 
    align-self: flex-end;
    width: auto;
 
}

/* Estilos a la seccion de registrar un paquete */
.registrar-paquete {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea, button {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    background-color: #28a745;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

h2 {
    font-family: 'Arial', sans-serif;
    color: #333;
}

/* Estilos para el menu desplegable del boton de editar */
.menu-container {
    position: relative;
}

.btn-editar {
    background-color: var(--primario);
    color: var(--blanco);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: var(--gris);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
}
.flex-container{
    display: flex;
    gap: 4px;
}

.dropdown-item {
    display: block;
    padding: 8px 15px;
    background-color: var(--gris);
    color: var(--negro);
    border: none;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
    width: 100%;
    margin-bottom: 5px;
}

.dropdown-item:hover {
    background-color: var(--primario);
    color: var(--blanco);
}

.dropdown-item.eliminar {
    color: red;
}

.dropdown-item.eliminar:hover {
    background-color: red;
    color: var(--blanco);
}

/* Estilos para el flitro de busqueda */
.busqueda-container {
    position: relative;
}

.barra-busqueda {
    display: flex;
    gap: 10px;
    align-items: center;
}

.btn-filtros {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.menu-filtros {
    position: absolute;
    top: 50px;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.menu-filtros div {
    margin-bottom: 10px;
}

.menu-filtros label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.menu-filtros input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
